<footer class="page-footer font-small bg-rodape pt-4">
  
    <hr>
    <div class="container">
      <div class="col-md-12 d-flex justify-content-center text-rodape">
        <div class="col-md-4">
            <h3 class="text-center mb-5">Boa Ação</h3>
            <p class="text-center">Boas ações, por menor que sejam, 
            </p>
            <p class="text-center"> podem mudar o mundo"</p>
        </div>
        <div class="col-md-4">
          <a href=""><h3 class="mb-3 text-rodape text-center">Equipe</h3></a>
          <p class= "d-flex justify-content-center text-rodape mb-5">Conheca nossa equipe.</p>
          <a href=""><h3 class=" d-flex justify-content-center text-rodape  text-rodape">Sobre</h3></a>
          <div class="row  d-flex justify-content-center text-rodape text-rodape">            
            
            <a href="https://www.facebook.com/generationbrasil" target="_blank" class="p-2">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>      
          
           <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="p-2">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/cassiadearruda" target="_blank" class="p-2">
              <i class="fa fa-github-square" aria-hidden="true"></i></a> 
            </div>
        </div>       
      
        <div class="col-md-4">
          <h3 class=" d-flex justify-content-center text-rodape mb-2 text-rodape">Newsletter</h3>
          <p class=" d-flex justify-content-center text-rodape mb-5 text-rodape">Lorem ipsum dolor sit amet consectetur ?</p>
        </div>        

      </div>
    </div>

    <hr>

    <div class="footer-copyright bg-rodape text-center py-3">
        <span class="text-rodape"> © 2021 Copyright: </span>
        <a class="text-rodape" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
      </div>

</footer>
