<div class="jumbotron jumbotron-fluid bg-jumbotrom">
    <div class="container">
        <div class="col-md-6 bd-highlight">
            <h1 class="titulo-amarelo ml-auto">Quem somos?</h1>
            <p class="lead paragrafo-amarelo mt-3">Boa Ação é uma rede social que tem por objetivo conectar as
                instituições que atuam no combate à fome com pessoas, empresas e outras instituições que queiram fazer
                doações de alimentos e apoiar outras causas relacionadas com a segurança alimentar </p>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid bg-jumbotrom fundo-amarelo mt-n5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex flex-row">
                <img src="https://static.wixstatic.com/media/d8839e_a13aee64440e4d1fb1c600fdd8363872~mv2_d_2092_2092_s_2.jpg/v1/fit/w_1000%2Ch_1000%2Cal_c%2Cq_80/file.jpg"
                    height="300px" class="ml-1" alt="">
            </div>
            <div class="col-md-6 bd-highlight">
                <h1 class="row titulo-roxo ml-auto">Nossa origem</h1>
                <p class="paragrafo-roxo">O projeto desenvolvido teve como inspiração, o tema de fome zero e agricultura
                    sustentável. Esse é um dos Objetivos de Desenvolvimento Sustentável da ONU, e a Boa Ação foi o nosso
                    projeto desenvolvido no bootcamp da Generation Brasil para abordar essa questão. </p>

            </div>

        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid bg-jumbotrom mt-n5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 bd-highlight">
                <h1 class="row titulo-amarelo ml-auto">Quem é a Generation Brasil ?</h1>
                <p class="paragrafo-amarelo">A Generation Brasil é uma ONG que tem por objetivo formar jovens
                    desenvolvedores para o mercado de tecnologia</p>
            </div>
            <div class="col-md-6 d-flex flex-row-reverse">
                <img src="https://i.imgur.com/oGKvCzi.png" height="150px" class="ml-1" alt="">
            </div>
        </div>
    </div>
</div>