<nav class="navbar navbar-expand-lg bg-navbar" >
    
    <a class="navbar-brand text-navbar" href="#" style='text-align:left'>Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container p-10">
        <div class="row mt- mb-1">
            <div class="col-md-6">
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link text-navbar" href="#" >Entrar <span class="sr-only">(página atual)</span></a>
                      </li>                             
                    </ul>      
                  </div>
            </div>

        </div>

        <div class="row mt-1 mb-1">
            <div class="col-md-6">
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mr-auto">                      
                      <li class="nav-item">
                        <a class="nav-link text-navbar d-flex justify-content-center" href="#">Cadastrar</a>
                      </li>        
                    </ul>      
                  </div>
            </div>

        </div>
        
    </div>
  
    
  </nav>
