ul{
    list-style: none;    
    padding: 0;
}

ul li{
    display: inline;
    margin: 0;
    padding: 10px;
}

.fa{
    font-size: 30pt;
    color: #EDC927;
}

.fa:hover{
    color: #EDD151;
}

h4{
    color: #FAF8FB;
}

.card-text{
    color: #FAF8FB;
}

.card{
    background-color: #422157;
}

.c-2{
    background-color: #54166F;
}