<p>equipe works!</p>

<div class="card-deck mt-5">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/75401001?v=4" alt="Imagem Anderson">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Anderson Coelho</h4>
      <p class="card-text ml-3">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>     
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/andcoelho" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/andercoelho/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/andercoelho_/" target="_blank" class=""><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a> 
                </li>
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

  <div class="card c-2" style="width: 18rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/87585893?v=4" alt="Imagem Cassia">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Cássia de Arruda</h4>
      <p class="card-text ml-3">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>     
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/cassiadearruda" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/cássia-de-arruda/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/andercoelho_/" target="_blank" class=""><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a> 
                </li>
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/87781391?v=4" alt="Imagem Renata">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Renata Ferreira</h4>
      <p class="card-text ml-3">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>     
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/Reborsolli" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/renata-borsolli-56162910b/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/andercoelho_/" target="_blank" class=""><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a> 
                </li>
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

</div>

<div class="card-deck mt-5">

  <div class="card c-2" style="width: 5rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/77636434?v=4" alt="Imagem Matheus">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Matheus Farina</h4>
      <p class="card-text ml-3">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>     
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/farinaceos" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/matheus-farina-133226160/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/andercoelho_/" target="_blank" class=""><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a> 
                </li>
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

  <div class="card" style="width: 5rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/87781457?v=4" alt="Imagem Vinicius">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Vinicius Cardoso</h4>
      <p class="card-text ml-3">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>     
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/viniciuscsf1" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/-743820157/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/andercoelho_/" target="_blank" class=""><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a> 
                </li>
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

</div>
