<div class="row d-flex justify-content-center h1-equipe">
    <div class="col-md-6  text- #42215">
        <h1 class="fs-100 mt-5 mb-5 text-center">Equipe Boa Ação!</h1>
        <h5 class="fs-50 text-center ">Trabalhar em equipe é unir várias formas de pensar para um só objetivo.</h5>
      </div>
    
</div>

<div>
    

<div class="row d-flex justify-content-center">
    

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://avatars.githubusercontent.com/u/75401001?v=4" alt="Imagem Anderson">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-center">Anderson Coelho</h4>
              <p class="card-text ml-3">24 anos, São Paulo, formado Dev FullStack Java Jr pela Generation Brasil, estudante de ADS pelo IFSP, descobrindo a paixão pelo front-end.</p>     
            
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
        
                    <ul class="">
                        <li>
                            <a href="https://github.com/andcoelho" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                        </li>
        
                        <li>
                            <a href="https://www.linkedin.com/in/andercoelho/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </li>                        
                    </ul>                 
                </div> 
            </div>
            </div>
          </div>
        
          <div class="card c-2" style="width: 20rem;">
            <img class="card-img-top" src="https://avatars.githubusercontent.com/u/87585893?v=4" alt="Imagem Cassia">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-center">Cássia de Arruda</h4>
              <p class="card-text ml-3"> Cássia de Arruda, 20 anos de idade, Desenvolvedora Java Junior e Graduanda da Universidade Cesumar.</p>     
            
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
        
                    <ul class="">
                        <li>
                            <a href="https://github.com/cassiadearruda" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                        </li>
        
                        <li>
                            <a href="https://www.linkedin.com/in/cássia-de-arruda/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </li>                       
                    </ul>                 
                </div> 
            </div>
            </div>
          </div>
        
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://avatars.githubusercontent.com/u/87781391?v=4" alt="Imagem Renata">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-center">Renata Ferreira</h4>
              <p class="card-text  text-center ml-3">Renata Ferreira, 27 anos , de São Paulo, formada Desenvolvedora Java Junior Full-Stack pela Generation Brasill 
                , Estudante de Analise e Desenvolvimento de Sistemas em Unicesumar. </p>     
            
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
        
                    <ul class="">
                        <li>
                            <a href="https://github.com/Reborsolli" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                        </li>
        
                        <li>
                            <a href="https://www.linkedin.com/in/renata-borsolli-56162910b/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </li>                       
                    </ul>                 
                </div> 
            </div>
            </div>
          </div>




    
</div>


<div class="row d-flex justify-content-center">

  <div class="card c-2" style="width: 20rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/77636434?v=4" alt="Imagem Matheus">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Matheus Farina</h4>
      <p class="card-text ml-3">27 anos, ex Barista, Desenvolvedor Java Full Stack, criador de conteúdo no (pouco) tempo livre, e entusiasta de tecnologia e inovação.</p>     
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/farinaceos" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/matheus-farina-133226160/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>               
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/87781457?v=4" alt="Imagem Vinicius">
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-center">Vinicius Cardoso</h4>
      <p class="card-text ml-3"> 25 anos, descobri o potencial da programação na engenharia e resolvi ingressar na area de tecnologia. Hoje, sou Desenvolvedor Java Jr Full-Stack pela Generation Brasil. </p>
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="">
                <li>
                    <a href="https://github.com/viniciuscsf1" target="_blank" class=""><i class="fa fa-github-square" aria-hidden="true"></i></a> 
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/-743820157/" target="_blank" class=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>               
            </ul>                 
        </div> 
    </div>
    </div>
  </div>

</div>

