

<!-- Modal -->
<div class="container">
    <div class="row justify-content-center mt-5">
        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary botao-modal" data-toggle="modal" data-target="#modalExemplo">
            Nova Postagem
        </button>
        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Faça sua postagem</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-grop">
                            <label for="">Título</label>
                            <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo"
                                placeholder="Título da postagem">
                        </div>

                        <div class="form-grop">
                            <label for="">Texto</label>
                            <textarea [(ngModel)]="postagem.corpo" class="form-control" name="" id="texto" cols="30"
                                rows="4" placeholder="Texto"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="">Categoria</label>
                            <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema'
                                (change)='findByIdTema()'>
                                <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.categoria}} -
                                    {{item.filtro}} - {{item.localidade}}</option>
                            </select>
                        </div>

                        <div class="form-grop">
                            <label for="">Imagem</label>
                            <input [(ngModel)]='postagem.img_endereco' type="text" class="form-control" id="localidade"
                                placeholder="Link da imagem">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)='publicar()'
                            data-dismiss="modal">Postar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Abas -->
<div class="container  mt-5" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active " id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens"
                role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</a>

            <a (click)='findByIdUser()' class="nav-item nav-link " id="nav-minhasPostagens-tab" data-toggle="tab"
                href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                Postagens</a>


        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <!-- Pesquisa postagem -->
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo"
                            placeholder="Pesquisa uma postagem pelo titulo" [(ngModel)]='tituloPost'
                            (keyup)='findByTituloPostagem()'>
                    </div>
                </div>
            </div>

            <!-- Cards todas as postagens -->
            <div class="card-columns mt-3">
                <div class="card" style="width: 18rem;" *ngFor="let item of listaPostagens">
                    <div>
                        <img class="card-img-top" src="{{item.img_endereco}}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title m-0">{{item.titulo}}</h5>
                        <small class="text-muted">Categoria: {{item.tema.categoria}}</small>
                        <p class="card-text"><small class="text-muted"> Filtro: {{item.tema.filtro}}</small></p>
                        <p class="card-text mt-3">{{item.corpo}}</p>
                        <p class="card-text"><small class="text-muted">{{item.data_postagem | date: 'dd/MM/yyyy'}} às
                                {{item.data_postagem | date: 'HH:mm'}}</small></p>
                        <p class="card-text"><small class="text-muted"> Por: {{item.usuario.nome}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cards minhas postagens -->
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
            <div class="card-columns mt-3">
                <div class="card" style="width: 18rem;" *ngFor="let item of user.postagem">
                    <img class="card-img-top" src="{{item.img_endereco}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title m-0">{{item.titulo}}</h5>
                        <small class="text-muted">Categoria: {{item.tema.categoria}}</small>
                        <p class="card-text"><small class="text-muted"> Filtro: {{item.tema.filtro}}</small></p>
                        <p class="card-text mt-3">{{item.corpo}}</p>
                        <p class="card-text"><small class="text-muted">{{item.data_postagem | date: 'dd/MM/yyyy'}} às
                                {{item.data_postagem | date: 'HH:mm'}}</small></p>

                        <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                        <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>